@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  @apply opacity-70;
}

::-webkit-scrollbar {
  @apply h-1 w-1;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-800;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-neutral-700;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-600;
}
